@media (max-width:1299px){
    h1{
        font-size: 65px;
    }
} 
@media (max-width:1180px){
    .about__section{
        padding-bottom: 190px;
    }
    .about__card{
        z-index: 10;
        right: -25%;
        top: 35%;
    }

    .offers__card .offers__text{
        max-width: 60%;
    }

} 



@media (max-width:991px){
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    
    h3{
        font-size: 20px;
    }

    .navbar{
        background: var(--text-white);
    }

    .about__section{
        padding-bottom: 100px;
    }

    .about__card{
        top: 0;
        right: unset;
    }

    .offers__card .offers__text{
        max-width: 70%;
    }

    .offers__stacky .offers__card{
        min-height: 300px;
        height: 100%;
        background-position: center center;
        background-size: cover;
    
    }

} 



@media (max-width:767px){
    h1{
        font-size: 40px;
        line-height: 48px;
    }
    /* h2{
        font-size: 30px;
        line-height: 40px;
    }
    
    h3{
        font-size: 20px;
    } */
    p{
        font-size: 14px;
        line-height: 24px;
    }

    .header__logo{
        max-width: 80px;
    }
    
    #home{
        padding-top: 100px;
    }

    .menu__section .row{
        padding-top: 50px;
    }

    .menu__section .card{
        margin-bottom: 10px;
    }

    .menu__section .card h3 span{
        width: 50px;
        height: 50px;
    }

    .offers__card .offers__text{
        max-width: 50%;
    }

    .offers__stacky .offers__card{
        min-height: 250px;
        height: 100%;
        background-position: center center;
        background-size: cover;
    
    }




} 

@media (max-width:400px){

    .offers__card .offers__text{
        max-width: 65%;
    }
}
